{% extends "layouts/base.html" %} 

{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-tasks">
            <div class="card-header">
              <h4 class="card-title"> Siap Eksekusi</h4>
            </div>
            <div class="card-body">
              <div class="table-full-width table-responsive">
                <table class="table tablesorter " id="">
                  <thead class=" text-primary">
                      <tr>
                          <th class="text-center py-1">#</th>
                          <th class="text-center py-1">IssuedBy</th>
                          <th class="text-center py-1">Time Issue</th>
                          <th class="text-center py-1">Time approved</th>
                          <th class="text-center py-1">Section</th>
                          <th class="text-center py-1">Site Name</th>
                          <th class="text-center py-1">Description</th>
                          <th class="text-center py-1">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for cat in ready %}
                      <tr>
                          <td class="px-2 py-1 text-center">{{ cat.ticket_id }}</td>
                          <td class="px-2 py-1 text-start">{{ cat.user_name }}</td>
                          <td class="px-2 py-1 text-start">{{ cat.time_issue }}</td>
                          <td class="px-2 py-1 text-start">{{ cat.approved }}</td>
                          <td class="px-2 py-1 text-start">{{ cat.site_section }}</td>
                          <td class="px-2 py-1 text-start">{{ cat.site_name }} {{cat.site_sub_name}}</td>
                          <td class="px-2 py-1 text-start">{{ cat.description }}</td>
                          <td class="px-2 py-1 text-center">
                              <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded action-data" type="button" data-id="{{ cat.id }}" title="Action">
                                  <i class="fa-solid fa-user-pen"></i>
                              </button>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <div class="card card-tasks">
          <div class="card-header">
            <h4 class="card-title"> Pembuatan KYT</h4>
          </div>
          <div class="card-body">
            <div class="table-full-width table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                    <tr>
                        <th class="text-center py-1">#</th>
                        <th class="text-center py-1">IssuedBy</th>
                        <th class="text-center py-1">Time Issue</th>
                        <th class="text-center py-1">Section</th>
                        <th class="text-center py-1">Site Name</th>
                        <th class="text-center py-1">Description</th>
                        <th class="text-center py-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cat in ticket %}
                    <tr>
                        <td class="px-2 py-1 text-center">{{ cat.ticket_id }}</td>
                        <td class="px-2 py-1 text-start">{{ cat.user_name }}</td>
                        <td class="px-2 py-1 text-start">{{ cat.time_issue }}</td>
                        <td class="px-2 py-1 text-start">{{ cat.site_section }}</td>
                        <td class="px-2 py-1 text-start">{{ cat.site_name }} {{cat.site_sub_name}}</td>
                        <td class="px-2 py-1 text-start">{{ cat.description }}</td>
                        <td class="px-2 py-1 text-center">
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded approve-data" type="button" data-id="{{ cat.id }}" title="Approval">
                                <i class="fa-solid fa-user-pen"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card card-tasks">
          <div class="card-header">
            <h4 class="card-title"> Menunggu Approval</h4>
          </div>
          <div class="card-body">
            <div class="table-full-width table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                    <tr>
                        <th class="text-center py-1">#</th>
                        <th class="text-center py-1">IssuedBy</th>
                        <th class="text-center py-1">Time Issue</th>
                        <th class="text-center py-1">Section</th>
                        <th class="text-center py-1">Site Name</th>
                        <th class="text-center py-1">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cat in approved %}
                    <tr>
                        <td class="px-2 py-1 text-center">{{ cat.ticket_id }}</td>
                        <td class="px-2 py-1 text-start">{{ cat.user_name }}</td>
                        <td class="px-2 py-1 text-start">{{ cat.time_issue }}</td>
                        <td class="px-2 py-1 text-start">{{ cat.site_section }}</td>
                        <td class="px-2 py-1 text-start">{{ cat.site_name }} {{cat.site_sub_name}}</td>
                        <td class="px-2 py-1 text-start">{{ cat.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE Admin -->

{% block javascripts %}
<script>
     $(function(){
        $('.approve-data').click(function() {
            uni_modal("KYT Submit", "{% url 'manage_permohonan_perbaikan' %}?id=" + $(this).attr('data-id'))
        })
        
    })
    $(function(){
        $('.action-data').click(function() {
            uni_modal("Take Action", "{% url 'manage_ready_eksekusi' %}?id=" + $(this).attr('data-id'))
        })
        
    })
    window.onbeforeunload = function(e) {
        e.preventDefault();
        return "Modal should be closed before reloading or something...";
    }

</script>
{% endblock javascripts %}