{% load static %}
    <!--   Core JS Files   -->
    <script src="{% static 'assets/default/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/default/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/default/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/default/js/bootstrap-notify.js' %}"></script>
    <script src="{% static 'assets/default/js/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'assets/default/js/black-dashboard.js' %}"></script>
    <script src="{% static 'assets/default/js/plugins/chart.min.js' %}"></script>
    <script src="{% static 'assets/default/js/plugins/app.js' %}"></script>
    <script src="{% static 'assets/default/js/plugins/mainchart.js' %}"></script>
    